@import "../../styles/app.scss";

.HomePage {
  -webkit-animation: fadein $transition-duration-mid;
  -moz-animation: fadein $transition-duration-mid;
  -ms-animation: fadein $transition-duration-mid;
  -o-animation: fadein $transition-duration-mid;
  animation: fadein $transition-duration-mid;

  &__container {
    flex-direction: column;
    
    @media ($medium-up) {
      flex-direction: row;
    }
  }

  &__image1 {
    width: 100%;
  
    @media ($medium-up) {
      width: 65%; 
    }
  }

  &__image2 {
    width: 100%;
    margin-left: 0;   
    margin-top: 1rem;   

    @media ($medium-up) {
      width: 35%;
      margin-left: 1rem;
      margin-top: 0;
    }
  }

  &__headline {
    font-size: 2.25rem;
    font-weight: 100;

    @media ($medium-up) {
      font-size: 4rem;
    }
  }

  &__sub-headline {
    font-size: 1.5rem;
    font-weight: 100;

    @media ($medium-up) {
      font-size: 2rem;
    }
  }

  &__svg-container {
    width: 75px;

    @media ($medium-up) {
      width: 100px
    }
  }

  &__subscribe-button {
    font-weight: 100;
    font-size: 1.25rem;
    border: 1px solid color('white');
    border-radius: 0; 
    background: color('black');
    color: color('white');

    &:hover {
      background: pink;
    }

    @media ($medium-up) {
      font-size: 2rem;
    }
  }

  svg:hover {
    fill: pink;
  }

  &__overlay {
    opacity: .75;
    -webkit-animation: fadeinhalf $transition-duration-med;
    -moz-animation: fadeinhalf $transition-duration-med;
    -ms-animation: fadeinhalf $transition-duration-med;
    -o-animation: fadeinhalf $transition-duration-med;
    animation: fadeinhalf $transition-duration-med;
  }
}
