.HomePage {
  &__image1 {
    width: 65%;
  }

  &__image2 {
  width: 35%;
  }

  &__headline {
    font-size: 4rem;
    font-weight: 100;
  }

  &__sub-headline {
    font-size: 2rem;
    font-weight: 100;
  }

  &__svg-container {
    width: 100px;
  }

  svg:hover {
    fill: pink;
  }
}
