@import "../../styles/app.scss";

.HomePage {
  &__image1 {
    width: 65%;
  }

  &__image2 {
  width: 35%;
  }

  &__headline {
    font-size: 4rem;
    font-weight: 100;
  }

  &__sub-headline {
    font-size: 2rem;
    font-weight: 100;
  }

  &__svg-container {
    width: 100px;
  }

  &__subscribe-button {
    font-size: 1.5rem;
    border: 1px solid color('white');
    border-radius: 0; 
    background: color('black');
    color: color('white');

    &:hover {
      background: pink;
    }
  }

  svg:hover {
    fill: pink;
  }

  &__overlay {
    opacity: .5;
  }
}
