@import "../../styles/app.scss";

.SignUpForm {
  height: 50vh;
  width: 50%;
  background-color: color('black');

  input, &__button {
    display: block;
    font-size: 2rem;
    border: 1px solid color('black');
    border-radius: 0;
  }

  &__button:hover {
    background: pink;
    color: color('white');
  }

  svg {
    width: 100px
  }

  svg:hover {
    fill: pink;
  }

  &__headline {
    font-size: 2rem;
  }

  &__message {
    font-size: 3rem;
  }
}
